@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  overflow-y: hidden;
}

.mainText {
  font-size: 1.05rem;
}
/* 
.gardenSmall {
  font-size: 0.7rem;
}

.gardenMd {
  font-size: 2rem;
} */
