@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  overflow-y: hidden;
}

html{
  -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
  
}

::-webkit-scrollbar {
 display: none;
  /* width: 8px; */
} 



.mainText {
  font-size: 1.05rem;
}

::-moz-selection {
  @apply bg-[#ff869c];
}

::-webkit-selection,
::selection {
  @apply bg-[#ff869c] text-[#232323];
  /* color: rgb(35, 35, 35); */
}


:root {
  --microlink-background-color: #eae8e8;
  --microlink-hover-background-color: #e4e4e4;
}

.dark {
  --microlink-background-color: #1b1c1d;
  --microlink-border-style: solid
  --microlink-border-width: 1px;
  --microlink-border: 1px solid #38393a;
  --microlink-color: #bfbfbf;
  --microlink-hover-background-color: #232425;
  --microlink-hover-border-color: #8899a680;
  --microlink-max-width: 500px;
}

.dialog{
  width: 500px;
}

@media only screen and (max-width: 700px) {
  .dialog{
    /* width: 100%;
    height: 100%;
    border-radius: 0px !important;
    top: 45%; */
    width: 350px;

  }
}